@model PizzaBox.Domain.Models.AddressedOrder

@{
    var addressId = TempData["AddressID"];
    var userId = TempData["UserID"];
    var username = TempData["UserName"];
}

<div class="text-right">
    <small>Logged in as: @username</small>
</div>

<form action="/order/createorder" method="post">

    <!-- <input type="button" value="Build Your Pizza" onclick="@("window.location.href='" + @Url.Action("create", "pizza") + "'");" /> -->
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Retype Username">

    <label for="addressline1">Address</label>
    <input type="text" id="addressline1" name="addressline1" placeholder="Retype Username">


    <fieldset name="Radiobutton">
        <label><input type="radio" name="discriminator" value="topping" required>Topping</label>
        <label><input type="radio" name="discriminator" value="crust">Crust</label>
        <label><input type="radio" name="discriminator" value="size">Size</label>
    </fieldset>

    <button type="submit">Place Order</button>
    @Html.AntiForgeryToken()
</form>