@model PizzaBox.Domain.Models.User

<div class="text-left">
    <h1 class="display-4">Create Your Account</h1>
</div>
<br>
<form action="/user/createuser" method="post">
    <p>
    <label for="Model.username">UserName</label>
    <input type="text" id="username" name="username" placeholder="Your Username">

    <label for="Model.password">Password</label>
    <input type="text" id="password" name="password" placeholder="Your Password">
    </p>

    <p>
    <label for="Name.First">FirstName</label>
    <input type="text" id="Name.First" name="Name.First" placeholder="Your First Name">

    <label for="Name.Last">LastName</label>
    <input type="text" id="Name.Last" name="Name.Last" placeholder="Your Last Name">
    </p>
    <br>
    <button type="submit">Create Account</button>
</form>