@model List<PizzaBox.Domain.Models.Address>

@foreach (var address in @Model)
{
    <tr>
        <td>
            @address.AddressLine
        </td>
        <td>
            @address.City
        </td>
        <td>
            @Html.ActionLink("Order", "CreateOrder", "Order", new { AddressId=address.AddressId})
        </td>
    </tr>
    <br>
}