@model List<PizzaBox.Domain.Models.Store>

@foreach (var store in @Model)
{
    <tr>
        <td>@store.Address</td>
        <td>@store.StoreId</td>
    </tr>
    <br>
}

<input type="button" value="Create a Store" onclick="@("window.location.href='" + @Url.Action("create", "store") + "'");" />