@model PizzaBox.Domain.Abstracts.AItem

<form action="/aitem/create" method="post">

    <label for="name">Name</label>
    <input type="text" id="name" asp-for="@Model.Name" placeholder="Item Name">

    <label for="price">Price</label>
    <input type="text" id="price" asp-for="@Model.Price" placeholder="Item Price">

    <fieldset name="Radiobutton">
        <label><input type="radio" name="discriminator" value="topping">Topping</label>
        <label><input type="radio" name="discriminator" value="crust">Crust</label>
        <label><input type="radio" name="discriminator" value="size">Size</label>
    </fieldset>

    <button type="submit">Add Item</button>
    @Html.AntiForgeryToken()
</form>