@model List<PizzaBox.Domain.Abstracts.AItem>

<ul>
  @foreach (var item in Model)
  {
    <li>@item.Name | @item.GetType().ToString()</li>
  }
</ul>

<input type="button" value="Create an Item" onclick="@("window.location.href='" + @Url.Action("create", "aitem") + "'");" />